  html {
  font-size: 20px;
 }

  header {
  letter-spacing: 1.2em;
  border-bottom: 3px solid rgb(115, 115, 114);
  font-size: 2rem;
  text-align: center;
 }

 .text-bold1{
  color:skyblue;
 }

 .text-bold2{
  color:rgb(255, 192, 203);
 }


 body{
  font-family:"Arial", "Meiryo", sans-serif ;
  text-align: center; 
 }

.text-red {
  color:rgb(255, 192, 203);
 }

.text-blue {
  color:skyblue;
 }

 .paragraph{
    font-weight: bold;
  }